<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>hey there partner!</div>
    <div>
        <h1>Most Liked Categories</h1>
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="/rango/category/{{category.slug}}">{{category.name}}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present. </strong>
        {% endif %}
    </div>
    <div>
        <h1>Most Viewed Pages</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{page.url}}">{{page.title}}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no pages present. </strong>
        {% endif %}
    </div>
    <div>
        <a href="/rango/about/">About</a>
        <img src="/Users/wen/code/rango/tango_with_django_project/static/images/rabbit.jpg" alt="Picture of Rango" /> <!-- New line -->
    </div>
    </body>
</html>